h1 {
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
}

.headline {
    font-family: serif;
    font-weight: 1000;
    margin-top: 10px;
}

hr {
    height: 2px;
}

.image {
    width: 10px;
    height: 10px;
    display: flex;
    align-items: flex-start;
}
table {
    width: 90vw;
    margin-left: 20px;
    margin-right: 5px;
}

.address {
    display: flex;
    justify-content: center;
    padding: 2px;
    margin: 2px;
}