.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(157, 129, 182);
}

.box {
    background: rgb(193, 227, 121);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
}

img {
    object-fit: fill;
    height: 300px;
    width: 300px;
}

.btn {
    display: flex;
}