.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: darkseagreen;
}

.box {
    background: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 40vh;
    border-radius: 10px;
}

p {
    font-size: 20px;
    padding: 10px;
    color: blue;
}